* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background-color: blue;
}

body {
  font-family: "Courier New", Courier, monospace;
  display: grid;
  place-items: center;
  height: 100%;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: teal;
}

li{
  list-style-position: inside;
}

form{
    display: grid;
    place-items: center;
    gap: 3rem;
    padding: 5rem;
}